Library/AnnotationManager
Library/assetDatabase3
Library/AssetImportState
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/CurrentLayout.dwlt
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/LastSceneManagerSetup.txt
Library/LibraryFormatVersion.txt
Library/MonoManager.asset
Library/ProjectSettings.asset
Library/ScriptMapper
Library/ShaderCache.db
Library/shadercompiler-UnityShaderCompiler0.log
Library/ShaderIncludePaths
Library/SpriteAtlasDatabase.asset
Library/gfu/cache/branches.yaml
Library/gfu/cache/gitlocks.yaml
Library/gfu/cache/gitlog.yaml
Library/gfu/cache/gitstatusentries.yaml
Library/gfu/cache/gittrackingstatus.yaml
Library/gfu/cache/gituser.yaml
Library/gfu/cache/repoinfo.yaml
